@use 'colors.scss';
@use 'sass:color';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html, body, #root {
    background: colors.$background;
}

// SIDEBAR STYLING
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 295px;
    height: 100%;
    background: colors.$black;
    display: flex;
    flex-direction: column;
    padding: 48px 16px;
    gap: 48px;
    overflow: hidden;
    z-index: 1;
    transition: .2s linear;
    .top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        div {
            display: flex;
            gap: 8px;
            align-items: center;
            img {
                height: 48px;
                border-radius: 999px;
            }
            h1 {
                color: colors.$white;
                font-weight: 600;
                font-size: 20px;
            }
        }
    }
    // SEARCHBAR STYLING
    .searchbar {
        display: flex;
        align-items: center;
        background: colors.$background;
        border-radius: 4px;
        padding: 4px;
        input {
            width: 100%;
            height: 36px;
            background: transparent;
            color: colors.$white;
            padding: 4px 12px;
            &::placeholder {
                color: colors.$gray;
            }
        }
        button {
            background: color.adjust(colors.$background, $lightness: 10%);
            color: colors.$white;
            border-radius: 4px;
            min-width: 42px;
            height: 36px;
            cursor: pointer;
            transition: .2s linear;
            &:hover {
                background: color.adjust(colors.$background, $lightness: 5%);
            }
        }
    }
    // OTHER BUTTONS STYLING
    .others {
        display: flex;
        flex-direction: column;
        gap: 4px;
        li {
            a {
                display: flex;
                align-items: center;
                background: transparent;
                border-radius: 4px;
                padding: 4px 12px;
                color: colors.$gray;
                font-size: 16px;
                font-weight: 400;
                gap: 8px;
                height: 42px;
                position: relative;
                transition: .2s linear;
                &::before {
                    content: '';
                    position: absolute;
                    width: 4px;
                    left: -20px;
                    height: 24px;
                    border-radius: 99px;
                    background: colors.$primary;
                    opacity: 0;
                    transition: .2s linear;
                }
                &.disabled {
                    cursor: not-allowed;
                    &::before {
                        background: #ff3f3f;
                    }
                }
                &:hover, &.active {
                    background: colors.$background;
                    &::before {
                        left: -16px;
                        opacity: 1;
                    }
                }
            }
        }
    }
    // BOTTOM STYLING
    .bottom {
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        a {
            background: colors.$primary;
            width: 100%;
            height: 42px;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            color: colors.$white;
            font-weight: 500;
            font-size: 15px;
            cursor: pointer;
            transition: .2s linear;
            &:hover {
                background: color.adjust(colors.$primary, $lightness: -10%);
            }
        }
    }
    @media screen and (max-width: 768px) {
        & {
            width: 100%;
            height: 72px;
            bottom: 0;
            top: unset;
            padding: 0;
            flex-direction: row;
            .top, .searchbar, .bottom {
                display: none;
            }
            .others {
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 100%;
                gap: 16px;
                li {
                    a {
                        font-size: 20px;
                        p {
                            display: none;
                        }
                        &::before {
                            width: 100%;
                            height: 4px;
                            left: 0;
                            top: unset;
                            bottom: -20px;
                        }
                        &:hover {
                            &::before {
                                left: 0;
                                bottom: -8px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// SECTIONS STYLING
section {
    position: fixed;
    top: 0;
    left: 295px;
    width: calc(100% - 295px);
    height: 100%;
    background: colors.$background;
    padding: 48px;
    @media screen and (max-width: 768px) {
        width: 100%;
        left: 0;
        padding: 24px;
    }
}
// -LOADING SECTION STYLING
.loading {
    background: #191a21;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        height: 356px;
        animation: blink 2s ease-out infinite;
    }
    @keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0.2;
        }
        100% {
            opacity: 1;
        }
    }
}
// -HOME SECTION STYLING
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
        background: colors.$black;
        padding: 32px;
        width: 70%;
        height: fit-content;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 8px;
        h1 {
            color: colors.$white;
            font-weight: 600;
            font-size: 28px;
            text-align: center;
        }
        p {
            color: colors.$gray;
            font-weight: 400;
            font-size: 13px;
            text-align: center;
        }
        .input {
            display: flex;
            align-items: center;
            background: colors.$background;
            border-radius: 4px;
            padding: 4px;
            width: 100%;
            margin-top: 24px;
            input {
                width: 100%;
                height: 36px;
                background: transparent;
                color: colors.$white;
                padding: 4px 12px;
                &::placeholder {
                    color: colors.$gray;
                }
            }
            button {
                background: colors.$primary;
                color: colors.$white;
                border-radius: 4px;
                min-width: 56px;
                height: 36px;
                cursor: pointer;
                transition: .2s linear;
                &:hover {
                    background: color.adjust(colors.$background, $lightness: 5%);
                }
            }
        }
    }
    @media screen and (max-width: 768px) {
        & {
            .container {
                width: 100%;
            }
        }
    }
}
// -HOME SECTION STYLING
.models {
    display: flex;
    flex-direction: column;
    gap: 48px;
    .info {
        h1 {
            color: colors.$white;
            font-weight: 600;
            font-size: 28px;
        }
        p {
            color: colors.$gray;
            font-weight: 400;
            font-size: 13px;
            position: relative;
            // &::before {
            //     content: '';
            //     position: absolute;
            //     width: 100%;
            //     height: 1px;
            //     left: 0px;
            //     bottom: -50px;
            //     border-radius: 99px;
            //     background: color.adjust(colors.$background, $lightness: 5%);
            //     opacity: 1;
            // }
        }
    }
    .container {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
        .model {
            background: colors.$black;
            display: flex;
            gap: 16px;
            flex: 1 0 32%;
            height: 100%;
            padding: 24px;
            border-radius: 8px;
            cursor: pointer;
            position: relative;
            transition: .2s linear;
            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 4px;
                left: 0px;
                bottom: -4px;
                border-radius: 0 0 8px 8px;
                background: colors.$primary;
                opacity: 0;
                transition: .2s linear;
            }
            &:hover {
                background: color.adjust(colors.$black, $lightness: 1%);
                &::before {
                    bottom: 0;
                    opacity: 1;
                }
            }
            &.disabled {
                cursor: not-allowed;
                &::before {
                    background: #ff3f3f;
                }
            }
            .leftside {
                span {
                    color: colors.$primary;
                    font-size: 16px;
                    background: color.adjust(colors.$background, $lightness: 5%);
                    height: 36px;
                    width: 36px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 999px;
                }
            }
            .rightside {
                display: flex;
                flex-direction: column;
                gap: 4px;
                h2 {
                    color: colors.$white;
                    font-size: 20px;
                    font-weight: 600;
                }
                p {
                    color: colors.$gray;
                    font-size: 15px;
                }
            }
        }
        @media screen and (max-width: 1120px) {
            & {
                .model {
                    flex: 1 0 48%;
                    height: 192px;
                }
            }
        }
        @media screen and (max-width: 920px) {
            & {
                .model {
                    flex: 1 0 100%;
                    height: fit-content;
                }
            }
        }
    }
}
// -CHAT SECTION STYLING
.chat {
    padding: 0;
    .navbar {
        position: fixed;
        top: 0;
        width: calc(100% - 295px);
        background: colors.$background;
        height: 76px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 32px;
        border-bottom: 1px solid color.adjust(colors.$background, $lightness: 5%);
        z-index: 1;
        h1 {
            color: colors.$white;
            font-size: 18px;
            font-weight: 600;
        }
        .options {
            display: flex;
            align-items: center;
            justify-content: center;
            button {
                height: 42px;
                width: 42px;
                border-radius: 99px;
                cursor: pointer;
                background: transparent;
                color: colors.$gray;
                font-size: 16px;
                transition: .2s linear;
                &:hover {
                    background: color.adjust(colors.$background, $lightness: 5%);
                }
            }
        }
    }
    // -CHAT CONTAINER STYLING
    .messages {
        position: relative;
        top: 76px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
        padding-bottom: 96px;
        overflow-y: auto;
        max-height: calc(100% - 76px - 96px);
        .message {
            width: fit-content;
            display: flex;
            gap: 16px;
            background: colors.$black;
            border-radius: 24px;
            padding: 16px;
            position: relative;
        
            &::before {
                content: '';
                position: absolute;
                width: 4px;
                height: 60%;
                left: -4px;
                top: 0;
                bottom: 0;
                margin: auto;
                background: colors.$primary;
                border-radius: 99px 0 0 99px;
            }
        
            .leftside {
                img {
                    height: 36px;
                    width: 36px;
                    border-radius: 99px;
                }
            }
        
            .rightside {
                display: flex;
                flex-direction: column;
                gap: 8px;
        
                .info {
                    display: flex;
                    align-items: center;
        
                    h2 {
                        color: colors.$primary;
                        font-size: 18px;
                        font-weight: 600;
                    }
        
                    span {
                        color: colors.$gray;
                        font-size: 13px;
                        font-weight: 500;
                    }
                }
        
                p {
                    color: colors.$gray;
                    font-size: 15px;
                    font-weight: 400;
                }
            }
        
            &.author {
                background: color.adjust(colors.$background, $lightness: 5%);
                align-self: flex-end;
        
                &::before {
                    left: unset;
                    right: -4px;
                    border-radius: 0 99px 99px 0;
                    background: colors.$white;
                }
        
                .leftside {
                    display: none;
                }
        
                .rightside {
                    .info {
                        flex-direction: row-reverse;
        
                        h2 {
                            color: colors.$white;
                        }
                    }
                }
            }
        
            &.wait {
                position: relative;
                width: 128px;
                animation: pulse 2s infinite ease-in-out;
                .rightside {
                    display: none
                }
            }
        }
        
        @keyframes pulse {
            0%, 100% {
                opacity: 0.5;
            }
            50% {
                opacity: 1;
            }
        }
        
    }
    .input {
        position: fixed;
        bottom: 0;
        width: calc(100% - 295px);
        background: colors.$background;
        height: 96px;
        display: flex;
        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            background: color.adjust(colors.$background, $lightness: 5%);
            width: 60%;
            height: 52px;
            border-radius: 99px;
            margin: auto;
            padding: 8px;
            textarea {
                background: transparent;
                width: 100%;
                height: 100%;
                padding: 6px 16px;
                color: colors.$white;
                font-size: 16px;
                resize: none;
                &::-webkit-scrollbar {
                    display: none;
                }
                &::placeholder {
                    color: colors.$gray;
                }
            }
            button {
                background: color.adjust(colors.$background, $lightness: 10%);
                color: colors.$white;
                border-radius: 999px;
                min-width: 52px;
                height: 100%;
                cursor: pointer;
                transition: .2s linear;
                &:hover {
                    background: color.adjust(colors.$background, $lightness: 5%);
                }
            }
        }
    }
}

// Scrollbar styling
::-webkit-scrollbar {
    width: 8px;
    background: colors.$background;
}

::-webkit-scrollbar-track {
    background: colors.$background;
}

::-webkit-scrollbar-thumb {
    background: colors.$primary;
    border-radius: 99px;
}

::-webkit-scrollbar-thumb:hover {
    background: color.adjust(colors.$primary, $lightness: 5%);
}